@!(data)<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>
      @data.firstName @data.lastName Resume - @data.summary - 
      Agile, AJAX, CSS3, DOM, HTML5, Javascript, jQuery, JSON, Microformats, Node.JS, Perl, PHP, REST, Scrum, SEO, Web Standards, XML, XSLT, YUI
    </title>
    <meta name="description" content="@data.firstName @data.lastName Resume - @data.summary - Agile, AJAX, CSS3, DOM, HTML5, Javascript, jQuery, JSON, Node.JS, Perl, PHP, REST, Schema.org, Scrum, SEO, Web Standards, XML, XSLT, YUI" />
    <meta name="keywords" content="@data.firstName,@data.lastName,Resume,@data.summary,Agile,AJAX,CSS3,DOM,HTML5,Javascript,jQuery,JSON,Node.JS,Perl,PHP,REST,Schema.org,Scrum,SEO,Web Standards,XML,XSLT,YUI" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.0.0/build/cssreset/reset-min.css&amp;3.0.0/build/cssfonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/brev-resume@if(data.mobile){-mobile}.css" />
  </head>
  <body>
    <div id="brev-resume">
      <div id="brev-resume-info" itemscope itemtype="http://schema.org/Person">
        <em>@data.firstName</em>
        <h2 itemprop="jobTitle">@data.summary</h2>
        <div id="brev-resume-info-contact">
          <h1 id="brev-name" itemprop="name">@data.firstName @data.lastName</h1>
          <ul id="brev-resume-info-contact-online">
            <li>
              <a href="@(data.memberUrlResources.values[0].url)" rel="me" itemprop="url">@(data.memberUrlResources.values[0].url)</a>
              <br />
              <a href="@data.publicProfileUrl" rel="me">LinkedIn Profile</a>
            </li>
            <li id="brev-resume-info-contact-email">
              <a href="mailto:me@@brev.name" rel="me" itemprop="email">me@@brev.name</a>
            </li>
          </ul>
          <div itemprop="telephone">@(data.phoneNumbers.values[0].phoneNumber)</div>
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">@data.city</span>,
            <span itemprop="addressRegion">@data.state</span>
            <br />
            <span itemprop="addressCountry">@data.country</span>
          </div>
          <div id="brev-resume-updated">Last Updated:<br />@data.today</div> 
        </div>
      </div>
      <ul id="brev-resume-sections">
        <li id="brev-resume-history" class="brev-resume-section">
          @render('./templates/html/career.html', data)
        </li>
        <li id="brev-resume-skills" class="brev-resume-section">
          @render('./templates/html/skills.html', data)
        </li>
        <li id="brev-resume-effort" class="brev-resume-section">
          <h3>Effort</h3>
          <ul class="brev-resume-section-content">
            <li id="brev-resume-effort-school" class="brev-resume-effort-area">
              @render('./templates/html/school.html', data)
            </li>
            <li id="brev-resume-effort-groups" class="brev-resume-effort-area">
              @render('./templates/html/groups.html', data)
            </li>
            <li id="brev-resume-effort-awards" class="brev-resume-effort-area">
              @render('./templates/html/awards.html', data)
            </li>
            <li id="brev-resume-effort-resume" class="brev-resume-effort-area">
              <h4>Resume</h4>
              <p>
                This@if(data.mobile){ Mobile} HTML resume was automatically generated by a  
                <a href="https://github.com/brev/resume">Node.js script</a>
                which pulled in my live <a href="@data.publicProfileUrl">resume info</a> from the <a href="https://developer.linkedin.com/rest">LinkedIn API</a>.
              </p>
              <p>
                This resume is marked up with <a href="http://schema.org">Schema.org</a> <a href="http://www.google.com/webmasters/tools/richsnippets?url=http%3A%2F%2Fbrev.name%2Fresume%2Fbrev-resume@if(data.mobile){-mobile}.html">structured data</a>.
              </p>
              <p>
                This resume also 
                <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fbrev.name%2Fresume%2Fbrev-resume@if(data.mobile){-mobile}.html">validates</a> 
                at the <a href="http://www.w3.org/">W3C</a>.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11130563-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
